* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.container {
    margin: 0 auto;
    width: 1280px;
    box-shadow: 2px 2px 2px 2px #e6d8d8;
}


/*-------start header-------*/
.padding-site {
    padding-left: 50px;
    padding-right: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #445161;
    padding-top: 50px;
}

.head-text h1 {
    font-family: Arial;
    color: #ffffff;
    line-height: 45px;
    font-size: 60px;
    font-weight: 400;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.head-text ul {
    list-style: none;
    list-style-position: inside;
    margin: 51px 0;

}

.head-text ul li {
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    list-style-image: url(../images/check.png);
}

.images a {
    display: block;
}

.images a img {
    width: 469px;
    height: 214px;
}




/*-------start block1-------*/
.block1 {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.block1 h3 {
    font-family: Arial;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 30px;
}

.block1 p {
    font-family: Arial;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 650px;
    margin: 15px 0;
}

.block1 video {
    width: 430px;
    height: 245px;
    margin-bottom: 50px;
}


/*-------start block2-------*/
.block2 {
    background-color: #f5f5f5;
}

.block2 h3 {
    font-family: Arial;
    font-size: 30px;
    color: #445161;
    line-height: 36px;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 50px;
}

details {
    min-height: 63px;
}

.block2 .dettext {
    display: flex;
    justify-content: space-between;
}

.block2 p {
    font-family: Arial;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 50px;
    overflow: hidden;
}

summary {
    clear: both;
    float: left;
    cursor: pointer;
    font: bold 0 Arial, Helvetica, sans-serif;
    padding: 8px 0;
    position: relative;
}

summary:focus {
    outline: none;
}

summary:details-marker {
    display: none
}

summary:after {
    background: #445161;
    border-radius: 5px;
    content: "-";
    color: #fff;
    font-size: 33px;
    font-weight: bold;
    line-height: 36px;
    margin: -5px 10px 0 0;
    padding: 0 5px ;
    text-align: center;
    
}

details[open] summary:after {
    content: "+";
}


/*-------start block3-------*/
.block3 h3 {
    font-family: Arial;
    font-weight: 400;
    font-size: 30px;
    color: #445161;
    line-height: 26px;
    text-align: center;
    padding-top: 50px;
}

.scrinshots {
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
}

.block3 h4 {
    font-family: Arial;
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 23px;
}

.block3 p {
    font-family: Arial;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 15px;
    padding-bottom: 34px;
}

.block3 h4,
p {
    overflow: hidden;
}

.block3 img {
    display: block;
    float: left;
    clear: both;
    padding: 0 13px 30px;
}




/*-------start block4-------*/
.block4 {
    background: #f5f5f5;
    margin-top: 20px;
}

.block4 h3 {
    font-family: Arial;
    font-weight: 400;
    font-size: 30px;
    color: #445161;
    line-height: 26px;
    padding-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.block4 .review {
    display: flex;
    justify-content: space-between;
}

.review .bottom-1 {
    margin-bottom: 30px;
}

.review .bottom-2 {
    margin-bottom: 50px;
}

.block4 .review p {
    font-family: Arial;
    color: #333333;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    padding: 15px 20px 15px 27px;
}

.review {
    display: flex;
}

.review-text {
    width: 450px;
    border-radius: 10px;
    background-color: #ebebeb;
    position: relative;
    margin-left: 100px;
}

.review-text:before {
    content: "";
    border: 15px solid transparent;
    border-right: 15px solid #ebebeb;
    position: absolute;
    top: 20px;
    left: -30px;
}

.review span {
    display: block;
    font-family: Arial;
    color: #989898;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 15px;
}

.photo {
    background-image: url(../images/userpic.png);
    width: 75px;
    height: 75px;
    float: left;
}


/*-------start block5--------*/
.block5 h3 {
    font-family: Arial;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 30px;
    padding-top: 50px;
    text-align: center;
}

.buy {
    display: flex;
    justify-content: center;
}

.buy ol {
    list-style-position: inside;
    padding: 20px 0 10px 20px;
}

.buy .standart,
.premium,
.lux {
    align-self: flex-end;
    background: #445161;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #000;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    line-height: 24px;
    margin: 0 22.5px 50px;
    width: 300px;
}

.buy .standart {
    height: 306px;
}

.buy .premium {
    height: 404px;
}

.buy .lux {
    height: 499px;
}

.buy h4 {
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    line-height: 30px;
    padding: 17px 0;
    text-align: center;
}

.buy strong {
    background: #ffffff;
    display: block;
    font-family: Arial;
    font-size: 40px;
    font-weight: 400;
    color: #445162;
    line-height: 72px;
    text-align: center;
    height: 70px;
    width: 300px;
}

.buy a {
    border-radius: 5px;
    background-color: #ffffff;
    display: block;
    color: #445161;
    font-family: Arial;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    margin: 0 20px 20px;
    text-align: center;
    text-decoration: none;
    height: 40px;
    width: 260px;
}

.buy .standart {
    height: 306px;
}

.block5 .premium {
    height: 404px;
}

.block5 .lux {
    height: 499px;
}


/*-------start footer-------*/

footer {
    background: #445161;
}

footer h3 {
    font-family: Arial;
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
    line-height: 36px;
    padding-top: 50px;
    padding-bottom: 25px;
    text-align: center;
}

footer .form {
    display: flex;
    justify-content: center;
}

footer .form placeholder {
    padding: 13px 0 0 10px;
}

footer input {
    border-radius: 5px;
    background-color: #ffffff;
    display: block;
    font-size: 16px;
    font-weight: 400;
    font-family: Arial;
    color: #445162;
    line-height: 24px;
    margin: 10px 45px 10px 0;
    padding-left: 10px;
    height: 40px;
    width: 500px;
}

footer textarea {
    border-radius: 5px;
    color: #445162;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 13px 0 0 10px;
    height: 170px;
    width: 500px;
}

input[type="submit"] {
    color: #445162;
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 180px;
    text-transform: uppercase;
    height: 40px;
    width: 140px;
}

input[type="submit"]:hover {
    background: #989898;
}

footer .adress {
    margin-top: 10px;
}

.adress .social {
    float: left;
}

.adress .social img {
    padding: 0 5px 20px 0;
}

footer span {
    display: block;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 5px 0 0 0;
}

footer .social-networks {
    display: flex;
    clear: both;
}

footer .social-networks a {
    background-color: #fff;
    color: #445162;
    border-radius: 50%;
    display: block;
    font-family: Socialico;
    font-size: 21px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 10px;
    margin-right: 3px;
    margin-left: 3px;
    text-decoration: none;
    text-align: center;
    height: 40px;
    width: 40px;
}

.social-networks .google {
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
}

.social-networks .youtube {
    font-weight: 700;
    font-size: 14px;
    line-height: 12px;
    text-transform: capitalize;
    color: #445162;
}

footer .social-networks a:hover {
    background-color: #989898;
}

.copy {
    background-color: #f5f5f5;
    color: #445162;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 24px;
    text-align: center;

}
